@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Regular'), local('Segoe-UI-Regular'),
        url('../fonts/SegoeUI.woff2') format('woff2'),
        url('../fonts/SegoeUI.woff') format('woff'),
        url('../fonts/SegoeUI.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Bold'), local('Segoe-UI-Bold'),
        url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
        url('../fonts/SegoeUI-Bold.woff') format('woff'),
        url('../fonts/SegoeUI-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI SemiBold'), local('Segoe-UI-SemiBold'),
        url('../fonts/SegoeUI-SemiBold.woff2') format('woff2'),
        url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
        url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* ///////////////////////////// */

* {
    box-sizing: border-box;
    outline: 0;
}

a {
    text-decoration: none
}

.flex {
    display: flex;
    align-items: flex-start;
}


::after,
::before {
    box-sizing: border-box
}

body,
button,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

button,
input {
    font-family: inherit;
    border: none;
    all: unset;

}

button {
    cursor: pointer;
    background-color: transparent
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

html {
    font-family: system, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Segoe WP', Roboto, Ubuntu, Oxygen, Cantarell, 'Fira Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Droid Sans', Tahoma, 'Microsoft Sans Serif', sans-serif;
    font-size: 16px;
    color: #242424;
    background: #fff
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: transparent;
}

.footer__container,
.header__container,
.main__container {
    max-width: 1440px;
    padding: 0 24px;
    margin: 0 auto;
}

.shop {
    margin: 34px 0px 0px 0px;
    flex: 1 1 auto;
}

.total {
    display: flex;
    margin: 22px 0px 0px 32px;
    padding: 16px 24px 24px 24px;
    flex: 0 1 429px;
    justify-content: flex-end;
    max-height: 572px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

/* header */

.header {
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 32px;
    background-color: #6725a8;
    max-height: 112px;
    height: 100%;
}

.header__container {
    display: flex;
    gap: 32px;
    margin-bottom: 16px;
    max-height: 56px;
    height: 100%;

}


/* burger */

.list-element__burger {
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 8px;
    padding: 21px 9px;
    margin-right: 16px;
}

.list-element__burger-line {
    width: 28px;
    height: 4px;
    position: relative;
    display: block;
    background: #fff;
    border-radius: 4px;
}

.list-element__burger-line::after,
.list-element__burger-line::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: block;
    background: #fff;
    border-radius: 4px;
}

.list-element__burger-line::after {
    bottom: -10px;
}

.list-element__burger-line::before {
    top: -10px;
}


.list-element {
    color: #fff;
    font-family: Segoe UI;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-variant: all-small-caps;
    letter-spacing: 0.56px;
}


.header__search-catalog {
    display: flex;
    height: 46px;
    padding: 0px 24px;
    align-items: center;
    flex: 1 0 0;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.20);
}

.search-catalog__input::placeholder {
    color: #fff;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    flex: 1 0 0;
    opacity: 0.5;
}

.header__search-catalog {
    margin-bottom: 16px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}


.header__svg__span {
    display: flex;
    max-width: 1920px;
    min-width: 320px;
    width: 100%;
    height: 24px;
    border-radius: 24px 24px 0px 0px;
    color: #f6f6fa;
    background-color: #f6f6fa;
}



.header__nav {
    height: 100%;
    max-height: 56px;
}

.header__nav-bar {
    gap: 42px;


}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.nav-bar__iconBasket {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    gap: 7px;

}

.nav-bar__iconLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    gap: 7px;
}

/* main */

.main {
    background-color: #f6f6fa;
    padding: 0px 24px 16px 24px;
    gap: 32px;
    align-self: stretch;
}

/* hero */

.hero {
    margin-bottom: 38px;
    max-width: 981px;
    width: 100%;
}

.accordion {
    display: flex;
    justify-content: space-between;
}

.basket-list__accordion__1 {
    max-width: 891px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 11px;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
}

.basket-list__accordion__2 {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.basket-list__accordion__3 {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.basket-section__title {
    color: #000;
    font-family: Segoe UI;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.28px;
    margin-bottom: 24.5px;
}

/* Стили по умолчанию */
.default-svg {
    cursor: pointer;

}

/* Стили для активного состояния */
.active-svg {
    cursor: pointer;
    fill: #CB11AB;
    /* Цвет фона */
}

.checkbox-basket {
    max-width: 891px;
    display: flex;
    align-items: center;
    gap: 11px;
    align-self: stretch;
    justify-content: space-between;
    margin-bottom: 18.5px;

}

.checkbox-basket__input {
    display: flex;
    align-items: center;
    gap: 11px;
}

.checkbox-text {
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.checkbox-photo {
    margin-right: 16px;
    max-width: 72px;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.accordion {
    max-width: 891px;
    width: 100%;
}

.accordion-left__1 {
    max-width: 656px;
    width: 100%;
}

.accordion-left__2 {
    max-width: 656px;
    width: 100%;
}

.accordion-left__3 {
    max-width: 656px;
    width: 100%;
}




/* Чекбокс слева от фотографии */

/* Стили для чекбокса */
.basket-list__checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
}

.accordion-left__about-basket {
    max-width: 543px;
    width: 100%;
}

.about-basket__title__1 {
    max-width: 100%;
    align-self: stretch;
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

.sizeAndColor__size {
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-right: 17px;
    margin-bottom: 8px;

}

.sizeAndColor__color {
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.sityAndCompany__cityFirst {
    color: #9797AF;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.sityAndCompany__citySecond {
    color: #9797AF;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

/* Выпадающий блок при наведении на значек информации */

.svg-container {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.info-block {
    display: none;
    position: absolute;
    max-width: 280px;
    top: 100%;
    left: -130px;
    background-color: #fff;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.30)) drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    width: 280px;
    padding: 11px 16px 13px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.svg-container:hover .info-block {
    display: block;
}


/* Блок отображения при наведении на знак I */

.info__text-h {
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 8px;
}

.info__text-span__1 {
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 8px;
}

.info__text-span__2 {
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

/* ///////////////// */


.accordion-right__1 {
    display: flex;
    max-width: 156px;
    width: 100%;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.accordion-right__2 {
    display: flex;
    max-width: 153px;
    width: 100%;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}


.accordion-right__3 {
    display: flex;
    max-width: 153px;
    width: 100%;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.countAndPrice__ul {
    max-width: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
}

.countAndPrice__price {
    max-width: 118px;
    width: 100%;
}

.accordion-right-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.countAndPrice__count {
    display: flex;
    align-items: flex-end;
}

.countAndPrice__counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100px;
    width: 100%;
    height: 44px;
    border-radius: 8px;
    background: #fff;
    border-radius: 8px;
    padding: 0 8px 0 11px;
}

#decrementBtn1 {
    color: grey;
    /* Устанавливаем серый цвет для отключенного (disabled) минуса */
}

#decrementBtn2 {
    color: grey;
    /* Устанавливаем серый цвет для отключенного (disabled) минуса */
}

#decrementBtn3 {
    color: grey;
    /* Устанавливаем серый цвет для отключенного (disabled) минуса */
}

.count__numeric {
    max-width: 100px;
    color: #FF3B30;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.price__new {
    display: flex;
    flex-wrap: nowrap;
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

}

.price__old {
    color: #9797AF;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-decoration: underline line-through;
    text-decoration-color: rgba(0, 0, 0, 0.20);
    text-decoration-style: dashed;

}

/* Блок скидка */

.price__container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.info-about__sale {
    display: none;
    position: absolute;
    max-width: 350px;
    top: 100%;
    left: -50px;
    width: 250px;
    height: 40px;
    padding: 11px 16px 13px 16px;
    gap: 8px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.info-about__sale__1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}

.info-about__sale-percent {
    color: #A0A0A4;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.info-about__sale__2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;

}

.info-about__sale-count {
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.price__container:hover .info-about__sale {
    display: block;
}

/*///////////////////// */

/* Вторая карточка */

.about-basket__title__2 {
    max-width: 275px;
    width: 100%;
    display: grid;
    align-self: stretch;
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

/* Третья карточка */

.about-basket__title__3 {
    max-width: 46%;
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 7px;
}


.accordion-right__countAndPrice {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/* Векторные картинки-избранное и удалить */

.smallImg__svg {
    fill: #000000;
}

.smallImg__svg:hover {
    fill: #f55123;
}

/* Итого */
/* result */


.result {
    max-width: 381px;
    width: 100%;
}

.main__container {
    padding: 0;
}

.result__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
    background: #FFF;
}

.result__h2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    margin-bottom: 4px;
}

.result-goods {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.top__result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 1px;
}

.result-discount {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.result-delivery {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.deliveryOnPlace__address {
    display: flex;
    justify-content: space-between;
}

.paymentByCard__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.deliveryOnPlace__back {
    display: flex;
    padding: 8px 8px 12px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.deliveryOnPlace__back-text {
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}


.result__title {
    color: #000;
    font-family: Segoe UI;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
}

.result__price {
    color: #000;
    font-family: Segoe UI;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.7px;
}

.result-style {
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.deliveryOnPlace__title {
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 3px;
}

.deliveryAddress {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 13px;
}

.deliveryAddress__address {
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.deliveryAddress__date {
    color: #CB11AB;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-decoration: underline;
    text-decoration-color: rgba(203, 17, 171, 0.20);
    text-decoration-style: dashed;
}

.deliveryOnPlace__back {
    padding: 8px 8px 12px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: #F6F6FA;
}

.underline__free {
    color: #0CB477;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border-bottom: 1px dashed rgba(12, 180, 119, 0.20);
}

.paymentByCard__buttom input[type="checkbox"] {
    margin-right: 8px;
    /* Расстояние между чекбоксом и текстом */
}



.paymentByCard__card {
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.paymentByCard__MIR {
    max-width: 150px;
    color: #000;
    text-align: right;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    background-image: url(../img/mir-pay.jpg);
    background-repeat: no-repeat;
    background-position: -1px -3px;
    margin-bottom: 7px;
}

.paymentByCard__label {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.paymentByCard__buttom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 8px 12px 8px;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: #F6F6FA;
}

.paymentByCard__text {
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.paymentByCard__buttom-checkbox {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-direction: column;
}



.buttom__result {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-self: stretch;
}

/* Кнопка */

.order {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.order-container {
    display: flex;
    align-items: center;
    /* Выравнивание элементов по центру по вертикали */
}

/* Дополнительные стили для изображения, если необходимо */
.order-container img {
    margin-right: 8px;
    /* Отступ между изображением и текстом */
}

.order__button-style {
    display: flex;
    height: 39px;
    padding: 0px 32px 5px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: #CB11AB;
    color: #fff;
    text-align: center;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.order__text {
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}


/* FAIL */

.card-top,
.card-middle,
.card-bottom {
    display: flex;
}

.checkbox-photo__fail__1 {
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), lightgray 50% / cover no-repeat;
}

.checkbox-photo__fail__2 {
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), lightgray 50% / cover no-repeat;
}

.checkbox-photo__fail__3 {
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), lightgray 50% / cover no-repeat;
}


.arrow-path {
    transition: transform 0.3s ease-in-out;
}

.rotate-down {
    transform: rotate(180deg);
}



.failOfGoods__container {
    margin-bottom: 40px;
}

.failOfGoods__container {
    max-width: 891px;
}

.failOfGoods__title {
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.failOfGoods__titleContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.failOfGoods__failList-goods {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.failList-goods__card-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.about-basket__titleFail__1 {
    color: #9797AF;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.about-basket__sizeAndColorFail {
    max-width: 90%;
    gap: 16px;
    display: flex;
    justify-content: space-between;
}

.countAndPrice__smallImg {
    display: flex;
    width: 99px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    justify-content: flex-end;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.card-top__about-basketFail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}

.left-fail {
    display: flex;
    max-width: 397px;
    padding-top: 12px;
    align-items: flex-start;
    gap: 16px;
}


.sizeAndColor__sizeFail {
    color: #9797AF;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.sizeAndColor__colorFail {
    color: #9797AF;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.about-basket__titleFail__2 {
    max-width: 100%;
    color: #9797AF;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.failList-goods__card-middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.card-middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.card-middle__about-basketFail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}


.failList-goods__card-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.about-basket__titleFail__3 {
    max-width: 100%;
    color: #9797AF;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.fail-svg {
    fill: #000;
}

.fail-svg:hover {
    fill: #cb11ab;
}


.right-fail {
    display: flex;
    max-width: 226px;
    width: 100%;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    padding-top: 12px;
}

/* delivery */

.delivery {
    margin-bottom: 16px;
}

.delivery__container {
    max-width: 891px;
    display: flex;
    padding: 23px 24px 27px 24px;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
}

.address-street {
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.contents {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    margin-bottom: 5px;
}

.contents__selected-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.left__contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.right__contents {
    display: flex;
    padding-right: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.contents-stars {
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

}

.styleForContents__1 {
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    height: 44px;
    align-items: flex-start;
    gap: 36px;
}

.styleForContents__2 {
    display: flex;
    height: 24px;
    align-items: flex-start;
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.contents-time {
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.contents__info-date__1 {
    max-width: 103px;
    width: 100%;
    display: flex;
    height: 56px;
    flex-direction: column;
    align-items: flex-start;
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.contents__info-date__2 {
    display: flex;
    height: 56px;
    flex-direction: column;
    align-items: flex-start;
    color: #000;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}


.delivery__btn-change {
    display: flex;
    justify-content: space-between;
}

/* Модальное коно "Способ доставки при нажатии на кнопку Изменить" */

.delivery__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: fixed;
    top: 293%;
    left: 34%;
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}




/*///////////////////////////////////////////////////// */

.btn-change__del {
    color: #CB11AB;
    text-align: right;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.delivery-free__text {
    display: flex;
    align-items: center;
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    gap: 9px;
}

.data-delivery {
    display: flex;
    height: 56px;
    align-items: flex-start;
    gap: 8px;
}

/* Выпадающий блок при наведении на слово "бесплатно" */

.dropdown-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 288px;
    padding: 10px 16px 14px 16px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    gap: 8px;
    color: #000;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    z-index: 1;
    transition: opacity 0.8s ease-in-out;
    left: -200px;
}

/* Стили для текста, на который нужно навести */
.dropdown-container:hover .dropdown-content {
    display: block;
}

.underline__free {
    cursor: pointer;
}

/* ///////////////////////////////////////////////////////// */






/* ///////////////////////////////////////// */

/* payment-metod */

.payment-method {
    margin-bottom: 16px;

}

.payment-method__style {
    max-width: 891px;
    display: flex;
    padding: 16px 24px 24px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    align-self: stretch;
    border-radius: 16px;
    background: #FFF;
}

/* Модальное окно */

.modal {
    font-family: Segoe UI;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(5, 0, 10, 0.30);
}

.modal_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
}

.modal_content {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
}

.modal__button {
    color: #CB11AB;
    text-align: right;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.modal .modal_content .close_modal_window {
    font-size: 24px;
    color: rgba(151, 151, 175, 1);
    cursor: pointer;
}

.modal_inner {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 13px 24px;
    align-items: flex-start;
    align-self: stretch;
}

.my_modal1 {
    max-width: 400px;
    color: #CB11AB;
    text-align: right;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.modal_title {
    color: #000;
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.radio {
    position: relative;
}

.radio__input {
    position: absolute;
}

.radio__input:checked+.radio__label:before {
    border: none;
}

.radio__label:before {
    content: "";
    height: 16px;
    width: 16px;
    display: block;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    position: absolute;
    top: -9px;
    left: 0;
    z-index: 1;
}

.radio__input:checked+.radio__label:after {
    opacity: 1;
}

.radio__label::after {
    content: "";
    height: 16px;
    width: 16px;
    display: block;
    background: url(../img/payment-method__radio.jpg) no-repeat;
    background-size: 16px 16px;
    opacity: 0;
    position: absolute;
    top: -9px;
    left: 0;
    z-index: 2;
}

.mirModal__text {
    background-image: url("../img/mir-pay.jpg");
    background-repeat: no-repeat;
    padding-left: 36px;
    margin: 0 4px 0 20px;

}

.visaModal__text {
    background-image: url("../img/visa.jpg");
    background-repeat: no-repeat;
    padding-left: 36px;
    margin: 0 4px 0 20px;
}

.mastercardModal__text {
    background-image: url("../img/mastercard.jpg");
    background-repeat: no-repeat;
    padding-left: 36px;
    margin: 0 4px 0 20px;
}

.maestroModal__text {
    background-image: url("../img/maestro.jpg");
    background-repeat: no-repeat;
    padding-left: 36px;
    margin: 0 4px 0 20px;
}


.card__number__modal {
    display: flex;
    padding: 0px 22px 123px 22px;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
}


.button__modal {
    max-width: 164px;
    margin: 16px 24px 24px 24px;
    justify-content: center;
}


.button-style__modal {
    display: flex;
    justify-content: center;
    padding: 7.5px 32px 12.5px;
    background: #CB11AB;
    border-radius: 8px;
    margin-bottom: 12px;
    color: #FFF;
    text-align: center;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

/* Конец модального окна */

.payment-method__style-top {
    max-width: 843px;
    display: flex;
    gap: 10px;
    align-self: stretch;
    justify-content: space-between;
}

.card__number {
    background-image: url(../img/mir-pay.jpg);
    background-repeat: no-repeat;
    background-position: 1px 6px;
    padding-left: 40px;
    display: flex;
    align-items: flex-start;
    gap: 13px;
    align-self: stretch;
    padding-top: 10px;
}

.payForGoods__text {
    color: #9797AF;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}


/*recipient*/
.recipient {
    background-color: #f6f6fa;
}


.recipient__style {
    display: flex;
    max-width: 891px;
    padding: 15px 24px 24px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 16px;
    background: #FFF;
}

.recipient__title {
    color: #000;
    font-family: Segoe UI;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
}

.receiver__top {
    max-width: 700px;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: #A0A0A4;
    margin-bottom: 9px;

}



.size-placeholder::-webkit-input-placeholder {
    font-size: 16px;
}

.receiver__name {
    margin-right: 24px;
    width: 100%;
}

.receiver__surename {
    width: 100%;
}


.receiver__bottom {
    display: flex;
    max-width: 700px;
}

.receiver__name-form,
.receiver__surename-form,
.receiver__last-form,
.receiver__tel-form,
.receiver__email-form {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}

.receiver__email {
    margin-right: 24px;
    width: 100%;
}

.receiver__tel {
    margin-right: 24px;
    width: 100%;
}

.receiver__last {
    width: 100%;
}

.receiver__texts {
    font-size: 12px;
    line-height: 14px;
}

.receiver__last-text {
    font-size: 12px;
    line-height: 14px;
    width: 180px;
}

.content-block__img.margin-none {
    margin: 0px 16px 0px 0px;
}

.indent {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.icon_1s {
    margin: 0px 36px 0px 0px;
    position: absolute;
    top: 0;
}

.icon_2s {
    position: absolute;
    top: 0;
    right: 0;
}

.red2 {
    opacity: 0;
}

.icon_1s:hover.red2 {
    opacity: 1;
}

.icon_1s:hover {
    opacity: 0;
}

.icon_2s:hover.red2 {
    opacity: 1;
}

.icon_2s:hover {
    opacity: 0;
}

.receiver__last-title,
.receiver__tel-title,
.receiver__email-title,
.receiver__surename-title,
.receiver__name-title {
    visibility: hidden;
    opacity: 0;
}

.receiver__inn-err,
.receiver__tel-err,
.receiver__email-err,
.receiver__surename-err,
.receiver__name-err {
    color: #F55123;
    font-size: 12px;
    line-height: 14px;
    visibility: hidden;
    opacity: 0;
}

.add-weight {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.add-marg {
    margin: -6px 0 0 0;
}

.receiver__name-title {
    display: block;
}

.add-margin_foot {
    margin-bottom: 38px;
}


/* footer */

.footer {
    max-width: 100%;
    height: 88px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background-color: #6725a8;
}

.footer__container {
    padding: 0;
}

.footer__border {
    display: flex;
    max-width: 1920px;
    min-width: 320px;
    width: 100%;
    height: 24px;
    border-radius: 0px 0px 24px 24px;
    background-color: #f6f6fa;
}

.footer__text {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

}